/* FONTES */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

/* BACKGROUND IMAGE BODY INDEX */

.bg-sust{
    background: linear-gradient(45deg, #051428, #111436, #00003c);
    background-size: 500% 500%;
    animation: color 12s ease-in-out infinite;
}

@keyframes color{
    0%{
        background-position: 0 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0 50%;
    }
}

/* EFEITO MENU-HOVER */

.menu-hover{
    position: relative;
}

.filter{
    backdrop-filter: blur(2px);
}

.menu-hover::after{
    content: " ";
    width: 0%;
    height: 2px;
    background-color: aliceblue;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: 0.5s;
    
}   

.menu-hover:hover::after{
    width: 100%;
}

.h-100{
    min-height: 100vh;
}

.h-10{
    height:10vh;
}

/* Alinhamento do texto */
.text-justificado{
    text-align: justify;
}

/* FONTE DA NAV-LINK */

.navbar-nav{
    padding-top: 3px;
    font-size: 16px;
}       

/* LOGOTIPO */

.navbar-brand{
    margin-top: 12px;
   line-height: 0.4cm;
   font-size: 20px;
   font-weight: 600;
}


    @media (max-width:990px){
            .menu-hover-responsive{
                padding-left: 5%;
                }
                
                .menu-hover:hover::after{
                    width: 0%;
                    }
        .menu-hover-responsive:hover{
            box-shadow: 0px 0px 4px whitesmoke;
            border-radius: 2px;
            transition: all 0.5s;
        
        }

}



@media screen and (max-width: 1000px) {
    .flex-esquerdo{
        position: none;
        display: flex;
        justify-content: space-between;
    }
}


/* TÍTULO DO SOBRE NÓS */

.titulo-one{
    color: #173864;
    font-weight: bold;
    width: 75%;
}


.titulo-two{
    margin-top: 5%;
    background-color: #ffb800;
    color: white;
    font-weight: bold;  
    border-radius: 10px;
    width: 75%;
}

#shadow-host-companion{
    display: none   ;
}


p{
    font-family: Montserrat;
    font-size: 14px;
    text-align: justify;
}

.gap{
    gap: 15px;
}

.gap-two{
    gap: 25px;
}

.image-logo{    
    transform: rotate(-50deg);
    position: absolute;
    top: 30px ;
    left: -25px;
}

.border-image{
    border-radius: 30px;
}

i:hover{
    -webkit-filter: drop-shadow(0px 0px 20px rgba(0 0 0 / 90%)); 
    filter: drop-shadow(0px 0px 20px rgb(0, 0, 0));
}

section {
   padding-top: 110px;
}

.section-one{
    padding-top: 0;
}

